{% extends "base.html" %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<section class="register-section">
    <div class="register-container">
        <h2>Register yourself!</h2>
        <form action="/register" method="post" class="register-form">
            <div class="form-group">
                <label for="username">Your name</label>
                <input
                    id="username"
                    placeholder="Your name..."
                    required
                    type="text"
                    name="username"
                />
            </div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</section>
{% endblock %}