{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<section>
    
    <h2>Chrust</h2>
    <h5 style="font-style: italic;"><a href="https://pl.wiktionary.org/wiki/Plik:Pl-chrust.ogg">[xrust]</a></h5>
    <p>
    <span> 
        Educational system empowering user with ability to explore audio signals through machine learning, data engineering and Rust.
    </span>
    
    <span>
        The idea was to allow everyone to explore how neural networks work, 
        what kind of data they consume, how data is extracted, view the data and explore it across five different genres.
    </span>
    </p>

    <p>
        <span>Origin:</span>
        All of the models that were developed for this system were trained and assembled using Torch library. <br>
        The part of the system where user interacts with the models,<br>
        as well as inference of the transformed data, is written using Rust. 
        <span>Adding these two, we get Chrust.</span>
    </p>



</section>



<section class="register-section">
    <div class="register-container">
        <h2>Register yourself!</h2>
        <form action="/register" method="post" class="register-form">
            <div class="form-group">
                <label for="username">Your name</label>
                <input
                    id="username"
                    placeholder="Your name..."
                    required
                    type="text"
                    name="username"
                />
            </div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</section>
{% endblock %}