{% extends "base.html" %}

{% block content %}

<div id="user-metadata" class="user-metadata">
    <h3 class="user-metadata__greeting">Hey {{ username }}!</h3>
    
    <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
        <div class="upload-form__group">
            <label class="upload-form__label">
                Upload your tune!:
                <input type="file" name="file" multiple class="upload-form__file-input">
            </label>
        </div>

        <div class="upload-form__group">
            <input type="submit" value="Upload files" class="upload-form__submit-btn">
        </div>
    </form>

    <table class="uploads-table">
        <thead class="uploads-table__head">
            <tr>
                <th>Added</th>
                <th>File Name</th>
                <th>Delete</th>
                <th>Send to classification</th>
            </tr>
        </thead>
        <tbody class="uploads-table__body">
            {% for upload in uploads %}
            <tr>
                <td>{{ upload.added | e }}</td>
                <td>{{ upload.file_name | e }}</td>
                <td>
                    <form action="/delete/{{ upload.upload_uuid }}" method="post" class="delete-form">
                        <input type="submit" value="Delete" class="btn btn--danger">
                    </form>
                </td>
                <td>
                    <form action="/classification/{{ upload.upload_uuid }}" method="post" class="classify-form">
                        <input type="submit" value="Post" class="btn btn--primary">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}