<div id="user-metadata">
    <h3>user: {{ username }} </h3>
    <h3>uuid: {{ uuid }}</h3>
    <h3>created at: {{ created_at }}</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label>
                Upload file:
                <input type="file" name="file" multiple>
            </label>
        </div>

        <div>
            <input type="submit" value="Upload files">
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Upload UUID</th>
                <th>Added</th>
                <th>File Name</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td>{{ upload.upload_uuid | e }}</td>
                <td>{{ upload.added | e }}</td>
                <td>{{ upload.file_name | e }}</td>
                <td><a href="/track/{{ upload.upload_uuid }}">
                        <button type="button">Go to Track</button>
                    </a></td>
                <td>
                    <form action="/delete/{{ upload.upload_uuid }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>